# Data
data/raw/*
data/staging/*
data/processed/*
data/database/*
!data/**/.gitkeep

# Environment
.env
.venv/

# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/

# Coverage
.coverage
htmlcov/

# Jupyter
.ipynb_checkpoints/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
